@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  box-sizing: border-box;
}
:root {
  --yellow: #fae100;
}

body {
  font-family: "Nunito", sans-serif;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--yellow);
  padding: 30px;
}
.nav > span {
  font-size: 20px;
  font-weight: 600;
}
.searchBox {
  display: flex;
  justify-content: space-between;
  background-color: wheat;
  border-radius: 20px;
  margin: 20px;
  padding: 10px;
}
.searchBox .search,
.searchBox i {
  margin: 0px 10px;
  opacity: 0.5;
}
.book_title,
.adventures_title,
.authors_title {
  font-size: 30px;
  font-weight: 600;
  margin: 20px;
}
.book_contents {
  display: flex;
  margin-top: 25px;
}
.book_contents img {
  width: 150px;
  height: 250px;
  margin-left: 20px;
  border-radius: 15px;
}
.book_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px;
}
.book_name {
  font-size: 40px;
  font-weight: 600;
}
.book_author {
  opacity: 0.3;
  font-size: 20px;
}

.stars i {
  color: var(--yellow);
}

.book_Btn-1 {
  display: flex;
}
.book_Btn-1 button {
  background-color: rgba(128, 128, 128, 0.096);
  border: none;
  margin: 10px 10px 10px 0px;
  font-size: 20px;
}
.book_Btn-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.book_Btn-2 i {
  background-color: var(--yellow);
  padding: 10px;
  border-radius: 50%;
}
.book_Btn-2 button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  margin: 10px 10px 10px 0px;
  font-size: 20px;
}
.adventure {
  margin: 30px 10px;
}
.adventures {
  display: flex;
  margin: 10px 0px;
}

.advantures_contents {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.stars {
  margin: 20px;
  padding-left: 10px;
}
.stars i {
  font-size: 12px;
}
.advantures_contents img {
  width: 100px;
  height: 150px;
  margin-left: 20px;
  border-radius: 15px;
}

.adventures_title {
  padding: 20px 0px;
}

.authors img {
  width: 150px;
  height: 200px;
  margin-left: 20px;
  border-radius: 15px;
}
.authors_contents {
  display: flex;
}
.authors_text {
  display: flex;
  flex-direction: column;
}
.authors_name {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.authors_author {
  margin-left: 10px;
  opacity: 0.5;
  font-size: 20px;
}
